* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F8F8F8;
}

main {
    position: relative;
}

/*********
Homepage
*********/
.homepage-background {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-position: top;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background-image.jpg);
}

main form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    width: 500px;
    border-radius: 5px;
}

main form h2 {
    margin: 10px 0;
    text-align: center;
    font-weight: normal;
    color: #e6981c;
}

main form input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: inherit;
    border: 1px solid grey;
    font-size: 14px;
}

main form input::placeholder {
    font-size: 14px;
}

main form button {
    width: 100%;
    padding: 10px 10px;
    background-color: #e6981c;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    border-radius: inherit;

    transition: 100ms linear;
}

main form button:hover {
    background-color: #cc8718;
}

/*********
Overviewpage
*********/
.search-results-title {
    text-align: center;
    font-size: 22px;
    color: #e6981c;
    font-weight: normal;
    margin: 20px 0;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    margin: 0 20px 20px;
}

.recipe-container a {
    text-decoration: none;
}

.recipe-thumb {
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.recipe-thumb .recipe-thumb__recipe-img {
    transition: 250ms all ease;
}

.recipe-thumb:hover .recipe-thumb__recipe-img {
    transform: scale(1.1);
    transform-origin: bottom;
}

.recipe-thumb__recipe-img {
    width: 100%;
}

.recipe-thumb__recipe-title {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: black;
}

/* Recipe filters */
.recipe-filters {
    position: absolute;
    top: 0;
    right: 20px;
}

.recipe-filters .sort-by-title__a-z,
.recipe-filters .sort-by-title__z-a {
    background-color: #e6981c;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.recipe-filters .filter-search-results {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.filter-search-results-reset {
    background-color: #e62a1c;
    border: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.recipe-filters > * {
    margin-left: 10px;
}

.recipe-filters .filter-search-results-reset:hover {
    background-color: #9c1309;
}

.recipe-filters .sort-by-title__a-z:hover,
.recipe-filters .sort-by-title__z-a:hover {
    background-color: #cc8718;
}

/*********
Detail page
*********/
.recipe-details {
    background-color: #fff;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.recipe-details__image-container {
    height: 300px;
    overflow: hidden;
}

.recipe-details__image {
    width: 100%;
    height: auto;
    transform: translate(0, -25%);
}

.recipe-details__content {
    padding: 20px;
}

.recipe-details__title {
    font-size: 26px;
    text-align: center;
    margin: 0;
    color: #e6981c;
}

.recipe-details__ingredients {
    padding-top: 25px;
}

.ingredients__title {
    margin: 0;
}

.info__details {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Loader */
.loader {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loader svg {
    height: 5.5rem;
    width: 5.5rem;
    animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}